{% extends 'base.html.twig' %}

{% block title %}
    Créer un cours | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créer un cours</h1>
    <div>
        {# Afficher le formulaire pour remplir un cours #}
    </div>

{% endblock %}

